.fullscreen-bg {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}

.about-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
}

.about-container > * {
  pointer-events: auto;
}

.home-icon {
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: 0;
  overflow: hidden;
}
