<div class="main-content">
  <div class="d-flex p-3 flex-row-reverse">
    <i
      class="bi bi-arrow-left-circle text-white home-icon"
      (click)="goBack()"
    ></i>
  </div>

  <div class="container-fluid vocabulary-container py-4">
    <img class="b-image" src="../../assets/bg-aboutpage.webp" alt="room" />

    <!-- Header -->
    <div class="row text-center mb-4">
      <div class="col-12">
        <mat-toolbar color="primary" class="justify-content-center">
          <span class="h3 font-weight-bold">Vocabulary Workout</span>
        </mat-toolbar>
      </div>
    </div>

    <!-- Vocabulary Cards -->
    <div class="row px-3">
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-4"
        *ngFor="let term of vocabularyTerms"
      >
        <mat-card
          class="vocabulary-card h-100"
          *ngIf="term.title && term.description"
        >
          <mat-card-title class="text-center">{{ term.title }}</mat-card-title>
          <img
            mat-card-avatar
            *ngIf="term.image"
            [src]="term.image"
            alt="{{ term.title }}"
            class="img-fluid mt-3 avatarimg"
          />
          <mat-card-content class="text-center">
            {{ term.description }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Activity Section -->
    <div
      class="row align-items-center justify-content-center mt-4"
      *ngIf="
        vocabularyTerms.length > 0 &&
        vocabularyTerms[vocabularyTerms.length - 1]?.SpaceWeather
      "
    >
      <!-- Image -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3 text-center">
        <img
          src="../../assets/SPACE WEATHER.jpg"
          alt="SPACE WEATHER"
          class="img-fluid rounded"
        />
      </div>

      <!-- Card -->
      <div class="col-lg-8 col-md-6 col-sm-12">
        <mat-card class="vocabulary-card text-center">
          <mat-card-title class="fw-bold">
            {{
              vocabularyTerms[vocabularyTerms.length - 1].SpaceWeather?.title
            }}
          </mat-card-title>
          <mat-card-content>
            <p class="text-break m-3 p-3">
              {{
                vocabularyTerms[vocabularyTerms.length - 1].SpaceWeather
                  ?.description
              }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
              class="btn-style"
              mat-raised-button
              color="primary"
              (click)="openDialog('0ms', '0ms')"
            >
              Activity
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
