<i class="bi bi-house-door home-icon" (click)="goBack()"></i>
<div class="background-container">
  <img
    src="../../assets/bg-aboutpage.webp"
    alt="Signup background"
    class="fullscreen-bg"
  />

  <div class="container">
    <div class="row pt-5 mt-5 ps-5">
      <h1>Lesson Plan</h1>
      <ul>
        <li>PBS Learning Media</li>
      </ul>
      <br />
      <h1>Workbook Cover</h1>
      <img
        class="w-50 pb-5"
        src="../../assets/Screenshot 2025-04-03 201612.png"
        alt=""
      />
      <h2>Coming soon</h2>
    </div>
  </div>
</div>
