<!-- Fullscreen Background -->
<img src="../../assets/Aboutimg.jpeg" alt="Background" class="fullscreen-bg" />

<div class="about-container">
  <i class="bi bi-house-door home-icon"></i>
  <div class="container mt-5">
    <mat-card class="mb-4 shadow">
      <mat-card-header>
        <mat-card-title class="text-center fs-4 fw-bold"
          >Teacher's Resource</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <div class="fs-5">
          <p><strong>Lesson Plans:</strong></p>
          <p>
            <strong>Vocabulary Workout:</strong> Helping kids learn space terms
            by first introducing them to each word, then holding an interactive
            session where they flip cards to see each term's definition.
          </p>
          <p><strong>Key Resources:</strong></p>
          <p>
            Teaching kids planet names by showing pictures of all the planets in
            the solar system in order.
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions class="justify-content-center">
        <button mat-button color="primary">Learn More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
