<!-- <mat-card class="matcolor">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <p></p>

      <div class="button">
        <button type="submit" mat-button-primary>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card> -->
<div class="loginpage">
  <!-- <img class="bg-image" src="../../assets/nasa_spaceweather.jpg" alt="" /> -->
  <div class="login-container">
    <h2>LOGIN</h2>
    <form id="login-form">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />

      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>

      <button type="submit">Login</button>
      <br /><br />
      <!-- Button to redirect to the sign-up page -->
      <button type="button">Create an Account</button>
    </form>
  </div>
</div>
