<mat-card class="landing-page-card" *ngIf="!isAppVisible">
  <img
    class="background-image"
    src="../assets/Solarflare.gif"
    alt="Background Image"
  />

  <div class="overlay-content text-center">
    <mat-card-title class="title mb-5">
      Welcome to Our Space Weather
    </mat-card-title>
    <br />
    <a
      type="button"
      class="newStyles mb-5 btn btn-primary btn-lg d-grid gap-2 col-3 mx-auto"
      routerLink="/home"
      routerLinkActive="active"
      (click)="hideAppComponent()"
    >
      EXPLORE
    </a>
  </div>
</mat-card>

<router-outlet *ngIf="isAppVisible"></router-outlet>
