<div class="signuPage">
  <!-- <button mat-button color="accent">← Back</button> -->
  <div class="signup-container">
    <div class="container mt-5 mb-5">
      <mat-card class="matbg p-3 mt-3 mb-3">
        <div class="d-flex flex-row-reverse">
          <i class="bi bi-backspace text-white" (click)="goBack()"></i>
        </div>
        <mat-card-title class="text-center text-light mb-3"
          >REGISTER</mat-card-title
        >
        <form [formGroup]="signupForm" (ngSubmit)="handleSignup()">
          <!-- Username Field -->
          <div class="mb-3">
            <mat-form-field
              class="w-100"
              appearance="outline"
              floatLabel="always"
            >
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required />
              <mat-error *ngIf="signupForm?.get('username')?.invalid">
                Username is required.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Email Field -->
          <div class="mb-3">
            <mat-form-field
              class="w-100"
              appearance="outline"
              floatLabel="always"
            >
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-error *ngIf="signupForm?.get('email')?.invalid">
                Please enter a valid email.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Password Field -->
          <div class="mb-3">
            <mat-form-field
              class="w-100"
              appearance="outline"
              floatLabel="always"
            >
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="password"
                required
              />
              <mat-error *ngIf="signupForm?.get('password')?.invalid">
                Password must be at least 6 characters long.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Confirm Password Field -->
          <div class="mb-3">
            <mat-form-field
              class="w-100"
              appearance="outline"
              floatLabel="always"
            >
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="confirmPassword"
              />
              <mat-error *ngIf="signupForm?.get('confirmPassword')?.invalid">
                Confirm password is required.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Password Mismatch Error -->
          <div class="error-text" *ngIf="signupForm?.hasError('mismatch')">
            Passwords do not match.
          </div>
          <label class="d-block text-light text-end pb-2 pe-5"
            >Have an account?</label
          >
          <span class="d-flex justify-content-between">
            <!-- Sign Up Button -->
            <button
              mat-raised-button
              pr-1
              color="primary"
              class="w-50"
              type="submit"
              [disabled]="signupForm.invalid"
            >
              Sign Up
            </button>

            <!-- Login Redirect -->
            <div class="d-flex flex-column ms-2 mb-3 w-50">
              <button
                mat-raised-button
                color="accent"
                class="w-100"
                type="button"
                (click)="redirectToLogin()"
              >
                Login
              </button>
            </div>
          </span>
        </form>
      </mat-card>
    </div>
  </div>
</div>
