<div *ngIf="isHomeVisible" class="home-container">
  <img
    class="bg-image"
    src="../../assets/classroom.jpeg"
    alt="Classroom Background"
  />

  <button mat-fab extended class="login-signup-button third btn-color m-5">
    <a
      class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      routerLink="/login"
      (click)="navigateToPage('/login')"
      routerLinkActive="active"
      >Login
    </a>
    <a
      class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      routerLink="/signup"
      (click)="navigateToPage('/signup')"
      routerLinkActive="active"
    >
      Signup</a
    >
  </button>
  <div class="menu-button-container p-3 mb-2 bg-dark-subtle text-dark-emphasis">
    <button
      mat-button
      class="third"
      routerLink="/about"
      [disabled]="!isLoggedIn"
      (click)="navigateToPage('/about')"
      routerLinkActive="active"
    >
      About
    </button>

    <button
      mat-button
      class="third"
      routerLink="/teacher-resource"
      [disabled]="!isLoggedIn"
      (click)="navigateToPage('/teacher-resource')"
      routerLinkActive="active"
    >
      Teacher Resources
    </button>
    <button
      mat-button
      class="third"
      routerLink="/game"
      [disabled]="!isLoggedIn"
      (click)="navigateToPage('/game')"
      routerLinkActive="active"
    >
      Games
    </button>

    <button
      mat-button
      class="third"
      routerLink="/classroom-resources"
      [disabled]="!isLoggedIn"
      (click)="navigateToPage('/classroom-resources')"
      routerLinkActive="active"
    >
      Classroom Resources
    </button>
    <button mat-button class="third" *ngIf="isLoggedIn" (click)="logout()">
      Logout
    </button>
  </div>
</div>

<app-dynamic-render
  *ngIf="!isHomeVisible"
  [component]="currentComponent"
  [showBackButton]="true"
></app-dynamic-render>
