<div *ngIf="isHomeVisible" class="home-container">
  <img
    class="bg-image"
    src="../../assets/classroom.jpeg"
    alt="Classroom Background"
  />
  <button mat-flat-button class="login-signup-button third btn-color m-5">
    <a
      class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      routerLink="/login"
      (click)="navigateToPage('/login')"
      routerLinkActive="active"
      >Login
    </a>
    <a
      class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      routerLink="/signup"
      (click)="navigateToPage('/signup')"
      routerLinkActive="active"
    >
      Signup</a
    >
  </button>
  <div class="menu-button-container">
    <button mat-raised-button class="third" (click)="loadComponent('about')">
      About
    </button>
    <button
      mat-raised-button
      class="third"
      (click)="loadComponent('teacherResource')"
    >
      Teacher Resource
    </button>
    <button
      mat-raised-button
      class="third"
      (click)="loadComponent('vocabulary')"
    >
      Vocabulary Workout
    </button>
    <button
      mat-raised-button
      class="third"
      (click)="loadComponent('nameofthePlanet')"
    >
      Name of the Planet
    </button>
    <button mat-raised-button class="third" (click)="loadComponent('K12grade')">
      K12
    </button>
  </div>
</div>

<app-dynamic-render
  *ngIf="!isHomeVisible"
  [component]="currentComponent"
  [showBackButton]="true"
></app-dynamic-render>
